.title-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chart-container {
  margin: 20px auto;
  padding: 20px;
}


mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}